#header
  %p
    The various <a href='/writings/'>writings</a>
    and <a href='/linkings/'>linkings</a> of
  %h1
    <a href='/'>
    = @author
    </a>
  %p
    = (2008..Date.today.year).to_a.map{ |y| "<a href='/circa/#{y}/'>#{y}</a>" }.join(', ')
