
#content.spam

  #header
    %h1#title= (@title = 'Spam')
    %p We think ...

  #body
    %p Sorry, your comment looks a bit spammy and is being held for moderation.

    %p
      If you <em>are</em> a spammer, please see <a href="/dev/null">this important message</a>
      for tips on how to ensure this information reaches its intended audience in the future.

-# vim: tw=120 ts=2 sw=2 sts=0 expandtab
